* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bg3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 12vw;
}

.nav-links {
    flex: 1;
    text-align: right;
    /* position: fixed; */
}
/* Navigation links */
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
 
}
/* Nav button hover effect */
.nav-links ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background: #e49c00;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 50px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: px;
    color: white;
}

.visit-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 10px 34px ;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.visit-btn:hover {
    border: 1px solid #e49c00;
    background: #e49c00;
    transition: 1s;
}
nav .bi{
    display: none;
}
.nav-links ul{
    margin-left: 30px;
}

@media (max-width: 600px){
    .text-box h1{
        font-size: 25px;
    }
    .text-box p {
        font-size: .6rem
    }
    .nav-links ul li{
      display: block;  
    }
    .nav-links {
        position: fixed;
        background: #e49c00;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .bi {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
    }

}

 /* Main / Article */
main {
    width: 100%;
    background-color: #ffde95;
}
 .article {
     display: grid;
     grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
 }
 .article2 {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
 }
 .article2bg {
     height: 80vh;
    
 }
 .section1,.section2 {
     width: 75%;
     margin: auto; 
 }
 .section2 { 
     width: 95%;
     margin: auto;
 }
 .article div {
     /* margin-top: 100px; */
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
     margin:10px;
     background-color: #ffde95;
 }
 .article2 div {

     margin: 20px;
 }
 .article div p,.article2 div p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 190, 68);
 }
.article div a,.article2 div a{
    background-color: #404040;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 0 auto 10px auto;
    padding: 8px;
}
.article2 div a {
   align-items: center;
}
 .article div h3 {
     text-align: center;
 }
 .section1 div{
     padding: 20px;
 }
 .section2 div {
     margin-top: 20%;
 }
 .article div a:hover {
     color:#e49c00
 }
  .article2 div a:hover {
     color:#e49c00
 }
 .main h3{
    padding: 10px;
    text-align: center;
 }
 .section2 h1 {
     padding-top: 140px;
     text-align: center;
     color: rgb(0, 0, 0);
     margin-bottom:-50px;
 }
 .article2 div h3 {
     padding: 15px;
     color: rgb(0, 0, 0);
     text-align: center;
 }
 
 
 /* Footer */
 .footer {
    background-color: #404040;
    color: #fff1ff;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 5px;
 }
 .logos {
    padding: 5px;
    background-color: #404040;
    display: flex;
    justify-content: center;
 }
 .bi:hover{
     color: #e49c00;
 }
 
 .footer i {
    font-size: 2rem;
    padding: 0 5px;
    color: #fff1ff;
 }
